// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";

$colors: (
  primary:    #6495ed,
  secondary:  #435d8c,
  danger:     #f53d3d,
  light:      #ffffff,
  dark:       #222
);

// Top Toolbar
$toolbar-md-background: color($colors, secondary);

// Bottom tabs
$tabs-md-background: color($colors, secondary);
$tabs-md-tab-color-active: color($colors, light);
$tabs-md-tab-color:color($colors, light);
$tabs-md-tab-text-color: color($colors, light);

$list-md-background-color:color($colors, secondary);
$list-md-text-color:color($colors, light);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
