// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.toolbar-title.toolbar-title-md,
.toolbar-title.toolbar-title-ios,
.toolbar-title.toolbar-title-wp { color: #fff }

.label-md, .label-ios, .label-wp  {
    margin: 6px 8px 6px 0;
}

a{
    color: #fff;
}


[primary]{
    color: color($colors, primary);
}

[bg-primary]{
    background-color: color($colors, primary);
}

[secondary]{
    color: color($colors, secondary);
}

[bg-secondary]{
    background-color: color($colors, secondary);
}

[light]{
    color: color($colors, light);
}

[bg-light]{
    background-color: color($colors, light);
}

[light]{
    color: color($colors, light);
}

[iframe-block-center]{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

// .toolbar-background-wp{ color: #32db64}

// Bottom tabs
// $tabs-md-background: color($colors, secondary);
// $tabs-md-tab-color-active: color($colors, light);
// $tabs-md-tab-color:color($colors, light);
// $tabs-md-tab-text-color: color($colors, light);

// $list-md-background-color:color($colors, secondary);
// $list-md-text-color:color($colors, light);

.conteudo{
    background:color($colors, primary);
    color:color($colors, light);
    // margin-top:30px;
}

.titulo{
    background:color($colors, secondary);
    color: #fff;

}

.toolbar-title{
    text-align: center;
}

.tabs-md .tab-button-icon{
    color:#ccc;
}

// .temp{
//     font-size:90px;
//     text-align: center;
//     font-weight: normal;
// }

// .location,.icon, .desc{
//     text-align: center;
// }

// .icon img{
//     width:100px;
// }

// .location{
//     font-size:40px;
// }

// .desc{
//     font-size:30px;
// }