<!--
  Generated template for the DetalhePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title text-wrap class="titulo">{{estabelecimento.nome}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content *ngIf="estabelecimento" class="conteudo" padding>

  <ion-card>

    <ion-item *ngIf="estabelecimento.nome" text-wrap>
      {{estabelecimento.nome}}
    </ion-item>

    <ion-item *ngIf="estabelecimento.end" text-wrap>
      <ion-icon name="pin" item-start></ion-icon>
      {{estabelecimento.end}}
    </ion-item>

    <ion-item *ngIf="estabelecimento.tel" text-wrap>
      <ion-icon name="md-call" item-start></ion-icon>
      <a href="tel:{{estabelecimento.tel}}">{{estabelecimento.tel}}</a>
    </ion-item>

    <ion-item *ngIf="estabelecimento.valor" text-wrap>
      <ion-icon name="md-cash" item-start></ion-icon>
      {{estabelecimento.valor}}
    </ion-item>

    <div *ngIf="estabelecimento.descricao_servicos" ion-item text-wrap color="secondary">
      {{estabelecimento.descricao_servicos}}
    </div>

  </ion-card>

  <ion-card>
    <div *ngIf="estabelecimento.mapa" [innerHtml]="estabelecimento.mapa | sanitizeHtml">
    </div>
  </ion-card>

</ion-content>