<!--
  Generated template for the DetalhePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title text-wrap class="titulo">{{estabelecimento.nome}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content *ngIf="estabelecimento" class="conteudo" padding>

  <ion-list>
    <ion-item color="primary" text-wrap>
      {{estabelecimento.nome}}
    </ion-item>
  </ion-list>

  <ion-card>
    <div *ngIf="estabelecimento.end" ion-item text-wrap >
      <ion-icon name="pin" item-start></ion-icon>
      {{estabelecimento.end}}
    </div>

    <div *ngIf="estabelecimento.tel" ion-item text-wrap>
      <ion-icon name="md-call" item-start></ion-icon>
      <a href="tel:{{estabelecimento.tel}}">{{estabelecimento.tel}}</a>
    </div>

    <div *ngIf="estabelecimento.valor" ion-item text-wrap>
      <ion-icon name="md-cash" item-start></ion-icon>
      {{estabelecimento.valor}}
    </div>

    <div *ngIf="estabelecimento.descricao_servicos" ion-item text-wrap color="secondary">
      <b>{{estabelecimento.descricao_servicos}}</b>

    </div>

  </ion-card>

  <div *ngIf="estabelecimento.mapa" [innerHtml]="estabelecimento.mapa | sanitizeHtml">
  </div>

</ion-content>