<!--
  Generated template for the LocaisPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Locais</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card *ngFor="let local of locais;">
    <!-- <img src="assets/imgs/grupal.jpg" />
    <div class="card-title">Grupal</div> -->
    <ion-card-header>
      {{local.nome}}
    </ion-card-header>

    <!-- <button ion-item *ngIf="local.end"> -->

    <div *ngIf="local.end" ion-item>
        <ion-icon name="md-map" item-start></ion-icon>
      {{local.end}}
    </div>

    <div *ngIf="local.tel" ion-item>
        <ion-icon name="md-call" item-start></ion-icon>
      {{local.tel}}
    </div>

    <div *ngIf="local.valor" ion-item>
        <ion-icon name="md-cash" item-start></ion-icon>
      {{local.valor}}
    </div>


    <!-- </button> -->


    <!-- 
    end: "Av. Luís Viana Filho, 6775, Paralela",
    tel: "3206-8015",
    valor: "Gratuito", -->


    <!-- {{item.a1}} {{item.a1}} -->
  </ion-card>




</ion-content>